body {
    background-color: #FFF1E8;
    font-family: 'Delius Swash Caps', cursive;
    color: #5E4E41;
}

#main {
 background: #C5A8A2;
 width: 100%;
 height: 300px;
 border: #F9A6A0 1px solid;
}

#main img {
    width: 200px;
    height: 175px;
}

.pusheended {
    display: inline-block;
    text-align: center;
    align-content: center;
}

.nameinput {
    display: inline-block;
    text-align: center;
}