body {
    background-color: #3BED86;
    align-content: center;
    font-family: 'Delius Swash Caps', cursive;
    margin: 0 auto;
}

header {
    float: right;
    margin: 0px 80px;
}

.gifs {
    clear: right;
}

main {
    height: 75%;
    width: 92%;
    margin: 0 auto;
    padding: 10em;
}

.tomapic {
    display: inline-block;
    width: 800px;
    height: 205px;
    margin: 1px;
}

img {
    height: 200px;
    width: 250px;
    margin: 1px;
    border: 1px solid white;
}

/* .feedbutton playbutton lightsbutton {
    display: inline-block;
    margin: 5px;
} */

#nameInput {
    display: inline-block;
    width: 90%;
    float: left;
    margin: 10px;
};

#nameInput {
    width: 75%;
}

#nameButton {
    width: 25%;
}

#timer {
    align-content: center;
}

#feedbox {
    width: 20px;
}

.tomagotchigame {
    display: inline-block;
    width: 800px;
    height: 205px;
    margin: 1px;
}

.btn btn-default {
    display: inline-block;
    margin: 5px;
    border: 1px;
    padding: 10px;
}